<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css" > 
    <title>Weather </title>
</head>
<body >

    <div class="main-content">
    {{>header}}

    <div class="headline">

     What address are you looking for?
    </div>

      <form action="">
        <input type="text" placeholder="Type an adress here">
        <button>Search</button>
      </form>

     <div class="result">
      <p id="message-1"></p>
      <p id="message-2"></p>
     </div>
    </div>
    {{>footer}}
    
     <script src="/js/index.js"></script> 
</body>
</html>